* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

html {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

body {
    padding-top: 160px;
    padding-bottom: 100px;
}

main {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-weight: 800;
    font-size: 40px;
    display: inline-block;
    margin: 0;
    letter-spacing: -1px;
    padding-left: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -1px;
    padding: 0;
    margin: 0;
}

#about h3 {
    color: black;
}

#projects h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

h4 {
    margin: 0;
    padding: 0;
}

#about p {
    margin-bottom: 0;
    margin-top: 15px;
    letter-spacing: -0.75px;
    font-family: 'Roboto Slab', serif;
    font-size: 21px;
    font-weight: 300;
}

li {
    display: inline-block;
    letter-spacing: -1px;
}

li i {
    margin-left: 10px;
    font-size: 20px;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

p {
    letter-spacing: -0.5px;
}

figure {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
}

figure ul:first-of-type {
    margin-bottom: 9px;
}

.fa-js {
    color: rgb(207, 176, 2);
}

.fa-html5 {
    color: orangered;
}

.fa-css3-alt {
    color: royalblue;
}

.fa-rocket {
    color: red;
}

.primary-nav {
    background-color: white;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 -1px 4px 0;
    transition: transform 0.6s;
}

.primary-nav ul {
    margin-bottom: 10px;
    align-content: center;
}

.primary-nav ul li {
    font-size: 28px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 10px;
}

.scroll-down .primary-nav {
    transform: translate3d(0, -100%, 0);
}
   
.scroll-up .primary-nav {
    transform: none;
}

.project-card {
    display: flex;
    flex-direction: column; 
}

.project-card img {
    width: 100%;
}

.project-description {
    width: 100%;
}

.project-card_threelies {
    border-top: 10px solid black;
    padding-bottom: 10px;
    border-bottom: 10px solid black;
    display: flex;
}

.project-card figure {
    display: flex;
}

.project-card figcaption {
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
    color: rgb(140, 121, 83);
}

.project-card_threelies aside {
    font-family: 'Chivo', sans-serif;
    letter-spacing: -1.5px;
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
}

.project-card_threelies p {
    margin-top: 15px;
    font-size: 20px;
}

.playbutton {
    font-family: 'Chivo', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: -1px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    color: white;
    background-color: black;
    border: none;
    width: 100%;
}

.playbutton-desktop {
    display: none;
}

.project-name_threelies, .project-name_threelies a {
    font-family: 'Chivo', sans-serif;
    text-align: left;
    letter-spacing: -3px;
    font-size: 58px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 90%;
}

.tech {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#doodles h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: -1px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}

#doodles article h4 a {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    letter-spacing: -1px;
    font-weight: 400;
}

#doodles p {
    letter-spacing: -1px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.doodleboard {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.doodleboard article {
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 22px;
    border-bottom: 1px solid silver;
}

.project-card_toast img {
    margin-bottom: 10px;
}

.primary-footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 1px 4px 0;
    padding: 20px;
}

.primary-footer ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
}

.primary-footer i {
    font-size: 23px;
    padding: 0;
    margin: 0;
}

/* MEDIA QUERIES */


/* TABLET */
@media screen and (min-width: 720px) {

    body {
        padding-top: 120px;
    }

    h1 {
        font-size: 40px;
        padding-left: 20px;
        margin-bottom: 0;
    }

    .primary-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .primary-nav ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-content: center;
        margin-bottom: 0;
    }

    .primary-nav ul li {
        font-size: 30px;
        font-weight: 200;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 2vw;
        padding-left: 0;
    }

    .project-name_threelies, .project-name_threelies a {
        letter-spacing: -3px;
        font-size: 88px;
        margin-top: 20px;
        margin-bottom: 10px;
        line-height: 90%;
    }

    .tech {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    #projects .tech figure:nth-of-type(2n) {
        margin-left: 15px;
    }

    #doodles .tech {
        flex-direction: column;
    }

    .doodleboard {
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .doodleboard article {
        width: 47%;
    }
    
}

/* DESKTOP */
@media screen and (min-width: 1024px) {

    .primary-nav {
        padding: 20px;
    }

    #about p {
        font-size: 23px;
        line-height: 120%;
        width: 100%;
        letter-spacing: -0.5px;
    }

    #projects p {
        font-size: 22px;
        letter-spacing: -0.5px;
    }

    #projects h3 {
        margin-top: 30px;
    }

    .project-card_threelies {
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    .project-card-art_threelies {
        width: 49%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .project-card_threelies aside {
        font-size: 30px;
    }

    .playbutton-mobile {
        display: none;
    }

    .playbutton-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 70px;
        height: 100%;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .project-card-body_threelies {
        width: 49%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .project-card-body_threelies .tech ul {
        margin-bottom: 0;
    }

    /* THIS LOOKS WEIRD WITH JUST TWO CHILDREN BUT LOOKS OK
    WITH 3 AND AS INTENDED WITH 4+, SO I'LL WAIT TO ADD MORE =) */

    #doodles h3 {
        margin-top: 30px;
    }

    #doodles .tech {
        flex-direction: row;
    }

    .tech figure:nth-of-type(2n) {
        margin-left: 15px;
    }

    .doodleboard article {
        width: 23%;
    }

    .primary-footer ul {
        justify-content: space-evenly;
    }
    

}